#fileElem {
    display: none;
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.sub-titulo__plugin:after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #1abc9c;
}
.conjunto_botoes{
    display: flex;
    flex-flow: row wrap;
}

.botao {
    width: 160px;
    margin: 5px;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    background: transparent;
}
.botao:hover{
    background: #1abc9c;
    color: #fff;
}

.botao:active{
    background: #1abc9c;
    color: #fff;
}
.label-bordered {
    border: 1px dashed #00a0d2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition:all 0.3s ease;
    opacity:0.5;
}

.label-bordered:hover {
  opacity: 1;
  -webkit-animation: swing 1s ease;
      animation: swing 1s ease;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
}
